spring:
  application:
    name: order-service

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

  cloud:
    stream:
      function:
        definition: orderCommands
      bindings:
        orderCommands-out-0:
          destination: order.commands
          content-type: application/json

server:
  port: 8081
